.paragr {
    margin:5px;
    padding:20px;
    background-color:#ffffff;
    border-style:dashed;
    border-width:6px;
    text-align:justify;
    text-indent:30px;
    top: 40px;
    left: 210px;
    width: 400px;
    }