header {
    background: #ffb60f;
    background: radial-gradient(circle at 80px 40px, #f9eec7, #b293ca, #1d04f8);
    font-style: italic; font-size: 40px; text-align: center;
    width: 100%;
    height: 10vh;
    }
    nav {
    background: #b9ecb7; color: rgb(3, 1, 1);
    width: 100%; height: 10vh;
    text-align: center;
    }
    aside {
    background: linear-gradient(45deg, red, blue);
    float: left;
    width: 10%;
    height: 70vh;
    font-size: 27px;
    }
    #content {
    float: left;
    width: 90%;
    height: 70vh;
    }
    footer {
    background-image: url(img.jpg);
    background-size: cover;
    height: 10vh; width: 100%;
    display: flex;
    }
    table {
    width: 100%;
    text-align: center;
    }
    p {
    animation-duration: 7s;
    animation-name: slidein;
    }
    @keyframes slidein {
    from {
    margin-left: 100%;
    color:#ee08b4
    }
    25% {
    margin-left: 25%;
    color:#70f0f0
    }
    75% {
    margin-left: 50%;
    color:#1d04f8
    }
    to {
    margin-left: 0%;
    }
    }
    .menuButton {
        position: relative;
        transition: background-color 1s ease-out, color 1s ease-out; /* Объединяем свойства */
        text-align: left;
        background-color: rgb(126, 235, 144);
        left: 5px;
        top: 5px;
        height: 26px;
        width: 120px;
        color: white;
        border-color: black;
        font-family: sans-serif;
        font-size: 25px;
        text-decoration: none;
        box-shadow: 2px 2px 1px black;
        padding: 2px 4px;
        border: solid 1px black;
    }
    .menuButton:hover { position: relative;
    transition-property: background-color, color; transition-duration: 1s;
    transition-timing-function: ease-out; background-color:white; color:black;
    box-shadow: 8px 8px 4px black;
    }